/** @format */

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--text-color);
}

header {
  border-color: #ececec;
  border-bottom: 1px solid;
  padding-top: 24px;
  padding-bottom: 25px;
}

ul,
h2 {
  padding: 0px;
  margin: 0px;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  display: flex;
}

li {
  list-style-type: none;
}

.title-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #2196f3;
  text-align: right;
  letter-spacing: 0.03em;
}

.contact {
  display: flex;
  align-items: center;
}

.contacts {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.contact > li:not(:last-child) {
  margin-right: 50px;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.link {
  position: relative;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.links > li:not(:last-child) {
  margin-right: 50px;
}

.link2 {
  color: #212121;
}

.link3 {
  color: #757575;
}

.info-contact {
  display: inline-flex;
  align-items: center;
}

.iconSobre,
.iconPhone {
  margin-right: 10px;
  fill: #757575;
}

.info-contact:hover *,
.info-contact:focus * {
  color: #2196f3;
  fill: #2196f3;
}

.iconAntena,
.iconReloj,
.iconPc,
.iconAstronauta {
  box-sizing: content-box;
  padding: 25px 100px;
}

.coach-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.icon-net {
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  cursor: pointer;
}

.icon-net:hover,
.icon-net:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.initial {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(".././images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin-top: 0px;
  margin-bottom: 30px;
}

.click {
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border: 0px;
  width: 261px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.information > article {
  width: 270px;
}

.information > article:not(:last-child) {
  margin-right: 30px;
}

.iconns {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.iconantena {
  padding: 25px 102px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 270px;
}

.thedescriptions {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
  font-size: 14px;
}

.services {
  padding-bottom: 94px;
}

.two {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 55.05px;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.information1 {
  display: flex;
  justify-content: space-between;
}

.service {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 370px;
  height: 294px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.service:nth-child(1) {
  background-image: url("../images/app-desk.jpg");
}

.service:nth-child(2) {
  background-image: url(".././images/app-desk.jpg");
}

.service:nth-child(3) {
  background-image: url(".././images/app-design.jpg");
}

.service > h3 {
  display: flex;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
}

.coach {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.coachs {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.the-coach {
  background-color: #ffffff;
  width: 270px;
  height: 428px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

figure {
  margin-left: 0%;
  margin-top: 0%;
}

.icon-net {
  display: flex;
  justify-content: space-around;
}
.description {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.thedescriptions1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients {
  display: flex;
  justify-content: space-between;
  padding-bottom: 151px;
}

.client-regular {
  box-sizing: content-box;
  padding: 14.09px 32px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
}

.client-regular:hover,
.client-regular:focus {
  outline: 1px solid #2196f3;
  fill: #2196f3;
}

.tclient {
  padding-top: 59px;
  padding-bottom: 44.02px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer > container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.directions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.direction {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 231px;
  margin-bottom: 2px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date1 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.date > .date1:not(:last-child) {
  margin-bottom: 2px;
}

.portfolio {
  background-color: #ffffff;
  padding-top: 106px;
  padding-bottom: 82px;
}

.menu {
  justify-content: center;
  display: flex;
  margin-bottom: 56px;
}

.menu > li:not(:last-child) {
  margin-right: 8px;
}

.botones {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

.botones:hover,
.botones:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.menu > li:nth-child(1) > .botones {
  width: 73px;
}

.menu > li:nth-child(2) > .botones {
  width: 128px;
}

.menu > li:nth-child(3) > .botones {
  width: 145px;
}

.menu > li:nth-child(4) > .botones {
  width: 103px;
}

.menu > li:nth-child(5) > .botones {
  width: 130px;
}

.menu > li:not(:last-child) {
  margin-right: 8px;
}

.section {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
}

.sections {
  width: 370px;
  box-sizing: content-box;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.sections:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.thedescriptions {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  font-size: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
}

.title-s {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  font-size: 18px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  color: #212121;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.foot-net {
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.icontitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.foot-icons {
  display: inline-flex;
  justify-content: flex-start;
  height: 44px;
  gap: 10px;
  margin-top: 20px;
}

.icon-foot > .icon-net {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.icon-foot > .icon-net:hover {
  background-color: #2196f3;
}

footer > .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 70px;
}

.description__portfolio {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.description__portfolio:hover .transition__portfolio {
  transform: translatey(0);
  cursor: pointer;
}

.transition__portfolio {
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
}

.transition__portfolio > p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
}

.visited::after {
  position: absolute;
  content: "";
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
  top: 45px;
  left: 0;
  right: 0;
}

a:hover {
  color: #2196f3;
}

.backdrop.is-hidden {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
}

.modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.exit-modal {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moldal__container {
  padding: 40px;
}

.moldal__container > p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal__container-information {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
  text-align: left;
}

.modal__container-information > input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 27px;
  left: 576px;
  top: 314px;
  cursor: pointer;
}

.modal__container-information > :hover {
  border: 1px solid #2196f3;
}

.modal__container-information > svg {
  position: absolute;
  left: 15px;
  top: 32px;
}

.modal__container-information-comments {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__container-information-comments > p {
  text-align: left;
}

.modal__container-information-comments > textarea {
  resize: none;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.modal__container-information-comments > textarea:hover {
  border: 1px solid #2196f3;
}

.modal__container-information-conditions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.modal__container-information-conditions > p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

.modal__container-information-conditions > input {
  margin-right: 8.38px;
  margin-top: 4px;
  background: #212121;
  width: 16px;
  height: 15px;
  visibility: hidden;
}

.buttonuser {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 75px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 5px;
  margin-bottom: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-check {
  
  margin-right: 8.38px;
  margin-top: 6px;
  width: 13px;
  height: 12px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal__checked:checked+.icon-check {
  border-color: transparent;
    background-image: url(../images/checkmanual.svg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: contain;
  background-origin: border-box;
}
